<!-- dropdown -->
<div class="dropdown-menu dropdown-menu-overlay pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
    <div class="scrollable" style="max-height: 220px">
      <ul class="list-group list-group-gap m-0">
        <li class="list-group-item black lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../assets/images/a2.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            trabajando 1185 <a href class="text-primary">maquina 22</a><br>
            <small class="text-muted">hace 10 minutos</small>
          </span>
        </li>
        <li class="list-group-item black lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../assets/images/a5.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Mecanicos</a> Se Requieren Guia Hilos<br>
            <small class="text-muted">hace 2 horas</small>
          </span>
        </li>
        <li class="list-group-item dark-white text-color box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../assets/images/a7.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Jefe Planta</a> Maquina 23 en mantenimiento<br>
            <small class="text-muted">hace 1 dia</small>
          </span>
        </li>
      </ul>
    </div>
</div>
<!-- / dropdown -->
