<div class="dropdown-menu dropdown-menu-overlay pull-right">
  <a class="dropdown-item" ui-sref="app.inbox.list">
    <span>buzon</span>
    <span class="label warn m-l-xs">3</span>
  </a>
  <a class="dropdown-item" ui-sref="app.page.profile">
    <span>perfil</span>
  </a>
  <a class="dropdown-item" ui-sref="app.page.setting">
    <span>Configuracion</span>
    <span class="label primary m-l-xs">3/9</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" ui-sref="app.docs">
   Ayuda?
  </a>
  <a class="dropdown-item" ui-sref="access.signin">Salir</a>
</div>
